{% extends 'default/base.html' %}

{% load i18n %}

{%block content%}
<div class='wrapper'>

<section>

<div class='articulo'>
	<h3>{% trans "Un poco acerca de mi" %}</h3>
	<p>
		Soy desarrollador ABAP y desarrollador WEB. Me especializo en ambas areas y brindo los siguientes servicios:
		<ul>
			<li><a href="#sap">Consultoría técnica SAP</a></li>
			<li><a href="#web">Desarrollo WEB</a></li>
		</ul>
		Como consultor técnico SAP, tengo amplia experiencia en múltiples soluciones y herramientas, 
    estoy certificado y he trabajado en una gran cantidad de proyectos con variadas características.
		Como desarrollador WEB me especializo en desarrollo backend y frontend,
    utilizando software libre de excelente calidad para su construcción.
	</p>
</div>

<div class='articulo'>
	<a id='sap'><h3>Consultoría técnica SAP</h3></a>
	<p>
		Mi experiencia laboral como consultor técnico SAP certificado es amplia. He participado en un total de catorce proyectos SAP. Nueve de ellos de implementación. Cuatro de ellos en inglés. Seis de ellos realizados bajo el modelo CMMI-DEV.
		Respecto de las herramientas y frameworks en los que tengo experiencia como desarrollador se encuentran:
		<ul>
		<li>Workflow</li>
		<li>Web Dynpro for ABAP</li>
		<li>Enhancements: Enhancement spot, BADI, BTE, Exit, Field exit.</li>
		<li>Interfaces y cargas iniciales: ALE/IDOC, BAPI, Batch input, LSMW</li>
		<li>Reportes: ALV Grid, ALV Jerarquico, ALV Tree</li>
		<li>Formularios: Smartform, SAP Script</li>
		<li>Análisis de performance</li>
		<li>Archiving</li>
		<li>Automatización de pruebas: ABAP Unit, ECATT.</li>
		<li>Módulos funcionales: FI, SD, MM, HCM, CO, PM.</li>
		<li>Soluciones: ERP, CRM, SCM</li>
		</ul>
		Cuento con sólidos conocimientos en programación orientada a objetos, paradigma que utilizo para desarrollar los requerimientos solicitados por el cliente.
	</p>
</div>

<div class='articulo'>
	<a id='web'><h3>Desarrollo WEB</h3></a>
	<p>
		Principalmente desarrollo aplicaciones web basadas en software libre.
		Las herramientas/tecnologías que generalmente uso son las siguientes:
		<ul>
		  <li>Sistema operativo del servidor: Linux. Utilizo la distribución 
		  	<a target="_blank" href="http://www.ubuntu.com/">Ubuntu</a>. 
		  	Este es uno de los sistemas operativos más confiables y versatiles existentes en el mercado.</li>
		  <li>Trabajo utilizando uno de los sistema de bases de datos más seguros y robustos del mercado: 
		  	<a target="_blank" href="http://www.mysql.com/">MySQL</a>. 
		  	Si sus datos son importantes para usted, para mi lo son aún más.</li>
		  <li>Empleo uno de los frameworks más versatiles y agiles del mercado: 
		  	<a target="_blank" href="https://www.djangoproject.com/">Django</a>. 
		  	Esto me permite adaptarme al continuo cambio del negocio de mis clientes. 
		  	Este framework está basado en el lenguaje de programación <a href="https://www.python.org/" target="_blank">python</a>,
		  	uno de los lenguajes más poderosos existentes hasta el momento.</li>
		  <li>En cuanto a funcionalidad de frontend utilizo uno de los frameworks más versatiles y estandarizados en el mercado: 
		  	<a href="http://jquery.com/" target="_blank">JQuery</a>. Y para la presentación del contenido utilizo
		  	<a href="http://www.w3.org/Style/CSS/Overview.en.html" target="_blank">CSS</a>.</li>
		</ul>
		Todas las herramientas/tecnologías mencionadas, son de código abierto lo que implica libertad. Libertad de uso y de modificación.
		Esto me permite no depender de grandes corporaciones, lo que hace que no tenga que lidiar con los altos costos,
    problemas legales y burocracia. Soy libre, y así puedo ofrecer libertad a mis clientes.
		A partir de estas herramientas/tecnologías las fronteras son solo la imaginación.
	</p>
</div>

</section>

</div>
{%endblock%}
